.h3 {
    padding-top: 10px;
    padding-bottom: 10px;
}

#up {
    width: 50%;
    float: left
}

#down {
    width: 50%;
    float: right
}
#infoTable{
    margin-top: 3px;
    margin-left: 10%;
    margin-right: 10%;
}
.badge-info{
    font-size: 12px !important;
}